.about {
    background: url("../../img/bg/desktop/about-header-wave.svg") center top / contain no-repeat,
        url("../../img/bg/desktop/about-footer-wave.svg") center 1600px / contain no-repeat,
        url("../../img/bg/pattern-about.svg") center 600px / contain no-repeat;
    ._dark & {
        background: url("../../img/bg/desktop/dark-about-header-wave.svg") center top / contain no-repeat,
            url("../../img/bg/desktop/dark-about-footer-wave.svg") center 1600px / contain no-repeat,
            url("../../img/bg/dark-pattern-about.svg") center 600px / contain no-repeat;
    }

    @include media(map-get($grid-breakpoints, lg)) {
        background: url("../../img/bg/bp1024/about-header-wave.svg") center top / contain no-repeat,
            url("../../img/bg/bp1024/about-footer-wave.svg") center 1440px / contain no-repeat,
            url("../../img/bg/pattern-about.svg") center 600px / contain no-repeat;
        ._dark & {
            background: url("../../img/bg/bp1024/dark-about-header-wave.svg") center top / contain no-repeat,
                url("../../img/bg/bp1024/dark-about-footer-wave.svg") center 1440px / contain no-repeat,
                url("../../img/bg/dark-pattern-about.svg") center 600px / contain no-repeat;
        }
    }

    @include media(map-get($grid-breakpoints, md)) {
        background: url("../../img/bg/bp768/about-header-wave.svg") center top / contain no-repeat,
            url("../../img/bg/bp768/about-footer-wave.svg") center 1980px / contain no-repeat,
            url("../../img/bg/pattern-about.svg") center 440px / contain repeat-y;
        ._dark & {
            background: url("../../img/bg/bp768/dark-about-header-wave.svg") center top / contain no-repeat,
                url("../../img/bg/bp768/dark-about-footer-wave.svg") center 1980px / contain no-repeat,
                url("../../img/bg/dark-pattern-about.svg") center 440px / contain repeat-y;
        }
    }

    @include media(map-get($grid-breakpoints, sm)) {
        background: url("../../img/bg/bp428/about-header-wave.svg") center top / contain no-repeat,
            url("../../img/bg/bp428/about-footer-wave.svg") center 2790px / contain no-repeat,
            url("../../img/bg/pattern-about.svg") center 1000px / contain repeat-y;
        ._dark & {
            background: url("../../img/bg/bp428/dark-about-header-wave.svg") center top / contain no-repeat,
                url("../../img/bg/bp428/dark-about-footer-wave.svg") center 2790px / contain no-repeat,
                url("../../img/bg/dark-pattern-about.svg") center 1000px / contain repeat-y;
        }
    }

    @media screen and (min-width: 336px) and (max-width: 385px) {
        background: url("../../img/bg/bp390/about-header-wave.svg") center top / contain no-repeat,
            url("../../img/bg/bp390/about-footer-wave.svg") center 2790px / contain no-repeat,
            url("../../img/bg/pattern-about.svg") center 1000px / contain repeat-y;
        ._dark & {
            background: url("../../img/bg/bp390/dark-about-header-wave.svg") center top / contain no-repeat,
                url("../../img/bg/bp390/dark-about-footer-wave.svg") center 2790px / contain no-repeat,
                url("../../img/bg/dark-pattern-about.svg") center 1000px / contain repeat-y;
        }
    }
    
    // * SECTION

    .h1 {
        margin: 52px 0;
        text-align: center;
        @include media(map-get($grid-breakpoints, sm)) {
            margin: 48px 0 24px;
        }
    }
    .home__container {
        margin-top: 0;
        p {
            text-indent: 2rem;
            text-align: justify;
            &:not(:first-of-type) {
                margin-top: 1rem;
            }
        }
        @include media(map-get($grid-breakpoints, md)) {
            flex-direction: column-reverse;
        }
    }

    .home__content {
        padding-bottom: 0px;
        @include media(map-get($grid-breakpoints, md)) {
            @include col(12);
            margin-top: 32px;
            p,
            ul li {
                letter-spacing: initial;
            }
        }
        @include media(map-get($grid-breakpoints, sm)) {
            @include col(2);
            p,
            ul li {
                text-indent: 16px;
            }
        }
    }

    .about__img {
        @include media(map-get($grid-breakpoints, md)) {
            @include col(10);
        }
        @include media(map-get($grid-breakpoints, sm)) {
            @include col(2);
        }
    }

    .service-list {
        margin: 0 0 64px 0;
        .h1 {
            margin: 96px 0 80px 0;
        }
        @include media(map-get($grid-breakpoints, lg)) {
            &__content {
                padding: 40px 0;
            }
            .h1 {
                margin: 72px 0 80px 0;
            }
        }
        @include media(map-get($grid-breakpoints, md)) {
            padding: 0;
            .h1 {
                margin: 64px 0;
            }
        }
    }

    .service-card {
        padding: 24px 10px;
        &__btn {
            display: none;
        }
    }

    .footer {
        margin-top: 192px;
        @include media(map-get($grid-breakpoints, lg)) {
            margin-top: 128px;
        }
        @include media(map-get($grid-breakpoints, md)) {
            margin-top: 104px;
        }
        @include media(map-get($grid-breakpoints, sm)) {
            padding: 0 0 40px 0;
        }
    }
}
