.site-calc {
    .calc-steps {
        &__wrapper {
            display: grid;
            grid-template: 1fr / repeat(4, 1fr);
            grid-auto-rows: 1fr;
            grid-auto-columns: 1fr;
            grid-gap: $grid-gap-side $grid-gap;

            @include media(map-get($grid-breakpoints, lg)) {
                grid-template: 1fr / repeat(3, 1fr);
            }
            @include media(map-get($grid-breakpoints, md)) {
                grid-template: 1fr / repeat(2, 1fr);
            }
            @include media(map-get($grid-breakpoints, sm)) {
                grid-template: 1fr / 1fr;
            }
        }
        &__item:not(:first-of-type) {
            margin-top: 1.5rem;
        }
        &__result {
            margin-top: 1.75rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include media(map-get($grid-breakpoints, md)) {
                flex-direction: column;
            }

            &-col {
                @include col(6);
                &:hover .step-title svg.expenses {
                    fill: rgba($error-red, 0.32);
                }
                &:hover .step-title svg.profit {
                    fill: rgba($accent-color, 0.32);
                }
                @include media(map-get($grid-breakpoints, md)) {
                    width: 100%;
                    margin-top: 40px;
                }
            }
        }
    }
}

.credit-calc,
.deposit-calc {
    .tabs__content-item._active {
        display: block;
    }
    .message {
        @include message;
    }
    @include media(map-get($grid-breakpoints, sm)) {
        overflow-x: auto;
    }
}
