.site-calc {
    .calc-steps {
        &__wrapper {
            display: grid;
            grid-template: 1fr / repeat(4, 1fr);
            grid-auto-rows: 1fr;
            grid-auto-columns: 1fr;
            grid-gap: $grid-gap-side $grid-gap;

            @include media(map-get($grid-breakpoints, lg)) {
                grid-template: 1fr / repeat(3, 1fr);
            }
            @include media(map-get($grid-breakpoints, md)) {
                grid-template: 1fr / repeat(2, 1fr);
            }
            @include media(map-get($grid-breakpoints, sm)) {
                grid-template: 1fr / 1fr;
            }
        }
        &__item:not(:first-of-type) {
            margin-top: 1.75rem;
        }
        &__result {
            margin-top: 1.75rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include media(map-get($grid-breakpoints, md)) {
                flex-direction: column;
            }

            &-col {
                @include col(6);
                &:hover .step-title svg.expenses {
                    fill: rgba($error-red, 0.32);
                }
                &:hover .step-title svg.profit {
                    fill: rgba($accent-color, 0.32);
                }
                @include media(map-get($grid-breakpoints, md)) {
                    width: 100%;
                    margin-top: 40px;
                }
            }
        }

        // * DOWNLOAD BUTTONS
        .download-btns {
            display: flex;
            flex-direction: column;

            @include media(map-get($grid-breakpoints, md)) {
                flex-direction: row;
                justify-content: space-between;
            }
            @include media(map-get($grid-breakpoints, sm)) {
                flex-direction: column;
            }
        }
        .btn-word,
        .btn-excel {
            display: flex;
            align-items: center;
            margin-top: 24px;
            padding: 0.8rem 1.5rem;
            border-radius: 8px;
            transition: $transition;

            @include media(map-get($grid-breakpoints, md)) {
                padding: 0.66rem 1rem;
            }
            span {
                margin-left: 8px;
            }
            svg {
                width: 32px;
                height: 32px;
            }
        }
        .btn-word {
            border: 3px solid $active-blue-color;
            span {
                color: $active-blue-color;
            }
            &:hover {
                box-shadow: 0 0 4px 2px rgba($active-blue-color, 0.32);
            }
            ._dark & span {
                color: $dark-active-blue-color;
                border-color: $dark-active-blue-color;
            }
        }
        .btn-excel {
            border: 3px solid $accent-color;
            span {
                color: $accent-color;
            }
            &:hover {
                box-shadow: 0 0 4px 2px rgba($active-blue-color, 0.32);
            }
            ._dark & span {
                color: $dark-accent-color;
                border-color: $dark-accent-color;
            }
        }
    }
}

.credit-calc,
.deposit-calc {
    .tabs__content-item._active {
        display: block;
    }
    .message {
        @include message;
    }
    @include media(map-get($grid-breakpoints, sm)) {
        overflow-x: auto;
    }
}

// * PAYMENT-TABLE

.payment-table {
    @include col(9);
    margin: 2.5rem auto 0;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    border: 2px solid $dark-color-60;

    &:first-child td {
        display: none;
    }
    th,
    td {
        line-height: 2.8;
        ._dark & {
            color: $light-color;
        } 
    }
    th {
        border-bottom: 2px solid $dark-color-80;
    }
    tbody td {
        border-bottom: 2px solid $dark-color-80;
    }

    @include media(map-get($grid-breakpoints, md)) {
        @include col(12);
        margin: 2.5rem 0 0 0;
    }
    @include media(map-get($grid-breakpoints, sm)) {
        max-width: 664px;
        overflow-x: scroll;
        padding: 0.5rem 1rem;
        margin-right: 1.5rem;
    }
}
.payment-table__item {
    text-align: center;

    &-label {
        font-weight: 500;
    }
    &-value span {
        text-align: right;
        ._dark & {
            color: $light-color;
        }
    }
}
