.accordion {
    transition: $transition;
    @include media(map-get($grid-breakpoints, sm)) {
        width: 504px;       // * Относительные величины не срабатывают
    }
    @include media(map-get($grid-breakpoints, xs)) {
        width: 328px;       // * Относительные величины не срабатывают
    }

    &__trigger {
        overflow: visible;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.75rem 1.33rem;

        font-size: 1.44rem;
        font-weight: 500;
        line-height: 1.6;
        text-align: left;
        color: $light-color;
        background-color: $inactive-blue-color;
        border-radius: 16px 16px 0 0;
        cursor: pointer;
        transition: $transition;

        svg {
            width: 2rem;
            height: 2rem;
            margin-left: 0.5rem;
            fill: $light-color;
            cursor: pointer;
            transition: $transition;
        }
        @include media(map-get($grid-breakpoints, lg)) {
            padding: 0.75rem 1rem;
            font-size: 1.33rem;
        }
        @include media(map-get($grid-breakpoints, sm)) {
            font-size: 1.25rem;
        }
    }
    &__content {
        height: 0px;
        opacity: 0;
        overflow: hidden;
        display: block;
        padding: 0 1.1rem;

        
        overflow-wrap: break-word;
        text-align: justify;
        border-radius: 0 0 16px 16px;
        border-bottom: 4px solid $active-blue-color;
        border-left: 4px solid $active-blue-color;
        border-right: 4px solid $active-blue-color;
        transition: $transition;

        // * Норальный перенос длинных ссылок, но ломаются длинные слова
        // @include media(map-get($grid-breakpoints, sm)) {
        //     word-break: break-all;
        //     @supports (line-break: anywhere) {
        //         line-break: anywhere;
        //     }
        // }
            
    }
    &-active &__trigger {
        background-color: $active-blue-color;
        cursor: default;
        svg {
            transform: rotate(45deg);
        }
    }
    &-active &__content {
        opacity: 1;
        overflow: visible;
        height: auto;
        padding: 1.1rem;
        border-bottom: 4px solid $active-blue-color;
        border-left: 4px solid $active-blue-color;
        border-right: 4px solid $active-blue-color;
    }
}
