.ordered-list {
    counter-reset: myCounter;

    li {
        list-style: none;
        margin: 0 0 0 16px;

        &::before {
            counter-increment: myCounter;
            content: counter(myCounter);
            color: $accent-color;
            display: inline;
            font-weight: 600;
            margin: 0 10px 0 0;
            ._dark & {
                color: $dark-accent-color;
            }
        }
    }
}