.payment-table {
    @include col(9);
    margin: 2.5rem auto 0;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    border: 2px solid $dark-color-60;

    &:first-child td {
        display: none;
    }
    th,
    td {
        line-height: 2.8;
        ._dark & {
            color: $light-color;
        }
    }
    th {
        border-bottom: 2px solid $dark-color-80;
    }
    tbody tr._hide {
        display: none;
    }
    tbody tr._show {
        display: table-row;
    }
    tbody td {
        text-align: center;
        border-bottom: 2px solid $dark-color-80;
    }
    tfoot tr, tfoot td {
        display: flex;
    }
    tfoot tr {
        justify-content: space-between;

        @include media(map-get($grid-breakpoints, lg)) {
            flex-direction: column;
        }
    }
    tfoot td {
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        
        &:first-of-type svg {
            transform: rotate(180deg);
        }
    }
    tfoot td button {
        width: 136px;
        &:disabled {
            background-color: $dark-color-60;
            cursor: auto;
            &:hover {
                box-shadow: none;
            }
        }
    }

    @include media(map-get($grid-breakpoints, md)) {
        @include col(12);
        margin: 2.5rem 0 0 0;
    }
    @include media(map-get($grid-breakpoints, sm)) {
        max-width: 670px;
        overflow-x: scroll;
        padding: 0.5rem 1rem;
        margin-right: 1.5rem;
    }
}

.payment-table__item {
    text-align: center;

    &-label {
        font-weight: 500;
    }
    &-value span {
        text-align: right;
        ._dark & {
            color: $light-color;
        }
    }
}
