// * SELECT

.select {
    position: relative;

    &__item {
        position: relative;
    }
    &__title {
        cursor: pointer;
    }
    &__value,
    &__options {
        font-size: calc($font-size-mobile * 1.2);
        font-weight: 600;
        line-height: 1.6;
        letter-spacing: 0.02em;
    }
    &__value {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;

        span {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        &::before {
            content: "";
            display: inline-block;
            margin-left: 4px;
            width: 24px;
            height: 24px;
            background: url($chevron-icon) center / 100% no-repeat;
            transition: $transition;
        }
    }
    &__options {
        display: none;
        position: absolute;
        top: 30px;
        left: 0;
        background-color: $light-color; // * Чтобы не был виден текст под select'ом
    }
    &__option {
        padding: 0px 12px;
        text-align: center;
        border-top: 1px solid $dark-color;
        cursor: pointer;
    }
    &._active {
        z-index: 5;

        & .select__value::before {
            transform: rotate(-180deg);
        }
        & .select__options {
            display: block;
        }
    }

    ._dark & {
        &__value {
            &::before {
                background: url($dark-chevron-icon) center / 100% no-repeat;
            }
        }
        &__options {
            background-color: $dark-color; // * Чтобы не был виден текст под select'ом
        }
        &__option {
            border-top: 1px solid $light-color;
        }
    }
}

.select_form-select {
    width: 304px;
    height: 56px;
    padding: 10px 16px;
    border: 3px solid $inactive-blue-color;
    border-radius: 8px;

    .select__options {
        margin-top: 6px;
        margin-left: -19px;
        opacity: 0;
        transition: $transition;
    }
    .select__option {
        width: 298px;
        padding: 4px 16px;
        text-align: left;
        border-top: none;
    }
    &._active {
        border-radius: 8px 8px 0 0;
        border-top: 3px solid $active-blue-color;
        border-left: 3px solid $active-blue-color;
        border-right: 3px solid $active-blue-color;
        border-bottom: none;

        .select__options {
            opacity: 1;
            border-radius: 0 0 8px 8px;
            border-left: 3px solid $active-blue-color;
            border-right: 3px solid $active-blue-color;
            border-bottom: 3px solid $active-blue-color;
            border-top: none;
        }
    }

    ._dark & {
        border: 3px solid $dark-inactive-blue-color;

        &._active {
            border-top: 3px solid $dark-active-blue-color;
            border-left: 3px solid $dark-active-blue-color;
            border-right: 3px solid $dark-active-blue-color;

            .select__options {
                border-left: 3px solid $dark-active-blue-color;
                border-right: 3px solid $dark-active-blue-color;
                border-bottom: 3px solid $dark-active-blue-color;
            }
        }
    }
}
