.step-title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    text-align: left;
    transition: $transition;

    @include media(map-get($grid-breakpoints, sm)) {
        flex-direction: column;
        align-items: flex-start;
    }

    .number-item {
        color: rgba($accent-color, 0.32);
        ._dark & {
            color: rgba($dark-accent-color, 0.32);
        }
    }
    .h3 { 
        transform: translate(-72px, 0);
        @include media(map-get($grid-breakpoints, lg)) {
            transform: translate(-52px, 0);
        }
        @include media(map-get($grid-breakpoints, md)) {
            font-size: 1.4rem;
        }
        @include media(map-get($grid-breakpoints, sm)) {
            font-size: 1.33rem;
            margin-top: -52px;
            transform: translate(0px, 0px);
        }
    }

    // * RESULT-TITLE

    &--result {
        flex-direction: row;
        svg {
            width: 96px;
            height: 96px;
            fill: rgba($dark-color, 0.16);
            transition: $transition;

            @include media(map-get($grid-breakpoints, lg)) {
                width: 64px;
                height: 64px;
            }
            @include media(map-get($grid-breakpoints, md)) {
                &.expenses {
                    fill: rgba($error-red, 0.32);
                }
                &.profit {
                    fill: rgba($accent-color, 0.32);
                }
            }
        }
        span {
            margin-left: -48px;
            @include media(map-get($grid-breakpoints, lg)) {
                margin-left: -36px;
                font-size: 1.44rem;
            }
            @include media(map-get($grid-breakpoints, sm)) {
                font-size: 1.33rem;
                margin-left: 8px;
            }
        }
    }
}
