.tabs {
    width: 100%; 
    transition: $transition;

    &__nav {
        @include col(8);
        position: relative;
        display: flex;
        margin: 0 auto 40px;
        &::after {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 100%;
            height: 6px;
            border-radius: 0 0 8px 8px;
            background-color: $active-blue-color;
      
            ._dark & {
                background-color: $dark-active-blue-color;
            }
            @include media(map-get($grid-breakpoints, sm)) {
                display: none;
            }
        }
        @include media(map-get($grid-breakpoints, lg)) {
            @include col(10);
        }
        @include media(map-get($grid-breakpoints, md)) {
            @include col(12);
        }
        @include media(map-get($grid-breakpoints, sm)) {
            width: 100%;
            flex-direction: column;
        }

        &-item {
            padding: 0.5rem 1.25rem;
            background-color: $footer-grey;
            border-top: 4px solid $footer-grey;
            border-left: 4px solid $footer-grey;
            border-right: 4px solid $footer-grey;
            border-radius: 8px 8px 0px 0px;
            transition: $transition;

            &:not(:first-of-type) {
                margin-left: 2rem;
            }
            ._dark & {
                background-color: $dark-footer-grey;
                border-top: 4px solid $dark-footer-grey;
                border-left: 4px solid $dark-footer-grey;
                border-right: 4px solid $dark-footer-grey;
            }
            &:hover, &._active {
                background-color: $light-color;
                border-top: 4px solid $active-blue-color;
                border-left: 4px solid $active-blue-color;
                border-right: 4px solid $active-blue-color;
                width: initial;
                color: initial;
                &::after {
                    display: none;
                }
                ._dark & {
                    color: $light-color;
                    background-color: $dark-color;
                    border-top: 4px solid $dark-active-blue-color;
                    border-left: 4px solid $dark-active-blue-color;
                    border-right: 4px solid $dark-active-blue-color;
                }
            }
            &._active {
                cursor: default;
            }
            @include media(map-get($grid-breakpoints, sm)) {
                &:not(:first-of-type) {
                    margin-left: 0;
                    margin-top: 2rem;
                }
                &:hover, &._active {
                    border: 4px solid $active-blue-color;
                    border-radius: 8px;
                }
            }
    
        }
    }
}

.tabs__content-item {
    width: 100%;
    display: none;
    grid-template: repeat(3, minmax(3rem, auto)) / repeat(2, 1fr);
    grid-auto-rows: minmax(3rem, auto);
    grid-auto-columns: 1fr;
    grid-gap: $grid-gap;
    &._active {
        display: grid;
    }

    @include media(map-get($grid-breakpoints, md)) {
        grid-template: repeat(5, minmax(3rem, auto)) / repeat(1, 1fr);
    }
}
