.unordered-list {
    li {
        margin: 6px 0;

        &::before {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 999px;
            background-color: $accent-color;
            margin: 0px 8px 1px 16px;

            ._dark & {
                background-color: $dark-accent-color;
            }
        }
    }
}
