// Для хорошего отобр. шрифтов, подгружаемых с Google Fonts добавляй это в конец ссылки
// &display=swap&subset=cyrillic-ext

@font-face {
    font-family: "Commissioner";
    font-display: swap;
    src: url("../../fonts/Commissioner-Regular.woff") format("woff"),
        url("../../fonts/Commissioner-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Commissioner";
    font-display: swap;
    src: url("../../fonts/Commissioner-Medium.woff") format("woff"),
        url("../../fonts/Commissioner-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Commissioner";
    font-display: swap;
    src: url("../../fonts/Commissioner-SemiBold.woff") format("woff"),
        url("../../fonts/Commissioner-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Commissioner";
    font-display: swap;
    src: url("../../fonts/Commissioner-Bold.woff") format("woff"),
        url("../../fonts/Commissioner-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Commissioner";
    font-display: swap;
    src: url("../../fonts/Commissioner-Black.woff") format("woff"),
        url("../../fonts/Commissioner-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}