// Для хорошего отобр. шрифтов, подгружаемых с Google Fonts добавляй это в конец ссылки
// &display=swap&subset=cyrillic-ext

@font-face {
    font-family: "Raleway";
    font-display: swap;
    src: url("../../fonts/Raleway-ExtraLight.woff") format("woff"),
        url("../../fonts/Raleway-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    font-display: swap;
    src: url("../../fonts/Raleway-Light.woff") format("woff"),
        url("../../fonts/Raleway-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: "Raleway";
    font-display: swap;
    src: url("../../fonts/Raleway-Medium.woff") format("woff"),
        url("../../fonts/Raleway-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    font-display: swap;
    src: url("../../fonts/Raleway-Bold.woff") format("woff"),
        url("../../fonts/Raleway-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}