* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
aside,
nav,
footer,
header,
section {
    display: block;
}
html {
    font-size: $font-size + px;
}
html,
body {
    height: 100%;
    min-width: map-get($grid-breakpoints, sm);
}
body {
    font-family: $font-family, sans-serif;
    font-size: $font-size;
    font-weight: 400;
    color: $dark-color;
    line-height: 1;

    // text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    body._lock {
        overflow: hidden;
    }
    @media screen and (max-width: map-get($grid-breakpoints, md)) {
        font-size: $font-size-mobile;
    }
}
input,
button,
textarea {
    font-family: $font-family;
    font-size: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
    background-color: inherit;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
    object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
//-webkit-overflow-scrolling: touch;
/*
&::-webkit-scrollbar {
	display: none;
}
*/
