<footer class="footer">
    <div class="footer__container container">
        <div class="footer__info">
            <a href="index.html" class="logo">
                <img src="img/vector_img/logo.svg" alt="CostWork">
            </a>
            <div class="navlink footer__info-copyright">© CostWork 2021-2022.<br>Всі права захищені.</div>
        </div>

        <div class="nav-section">
            <h4 class="h3 nav-section__title">Інші сервіси</h4>
            <ul>
                <li><a href="site-calc.html" class="navlink nav-section__link">Калькулятор вартості вебсайту</a></li>
                <li><a href="credit-calc.html" class="navlink nav-section__link">Розрах. кредитної переплати</a></li>
                <li><a href="deposit-calc.html" class="navlink nav-section__link">Розрах. прибутку від депозиту</a></li>
            </ul>
        </div>
        <div class="nav-section">
            <h4 class="h3 nav-section__title">Додатково</h4>
            <ul>
                <li><a href="index.html" class="navlink nav-section__link">Головна</a></li>
                <li><a href="about.html" class="navlink nav-section__link">Про сервіс</a></li>
                <li><a href="faq.html" class="navlink nav-section__link">Довідка</a></li>
                <li><a href="author.html" class="navlink nav-section__link">Про автора</a></li>
            </ul>
        </div>
    </div>
</footer>