<header class="header">
    <div class="header__container _container">
        <a href="" class="header__logo"></a>

        <div class="header__menu menu">
            <div class="menu__icon">
                <span></span>
            </div>
            <nav class="menu__body">
                <ul class="menu__list">
                    <li><a data-goto="" href="#" class="menu__link"></a></li>
                    <li><a data-goto="" href="#" class="menu__link"></a></li>
                    <li><a data-goto="" href="#" class="menu__link"></a></li>
                </ul>
            </nav>
        </div>
</header>